* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #051c33;
}

header {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgba(32, 136, 160, 0.5) 0%, rgba(	58, 123, 213, 0) 100%), url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/2lBOQK06tltt8SQaswgb8d657Mv.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-wrapper {
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.search {
    width: 100%;
}

form {
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
}

form input {
    width: 100%;
    height: 46px;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.75em;
    outline: none;
}
form button {
    display: inline-flex;
    height: 46px;
    padding: 10px 26px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

section {
    padding: 10px 50px;
}


a {
    text-decoration: none;
}


nav ul {
    padding-left: 0;
    list-style-type: none;
}

nav li {
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
}

nav li a {
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 5px;
    color: #051c33;;
    border: 1px solid#051c33;;
}

.active {
    color: white;
    background: #051c33;
    cursor: pointer;
}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #051c33;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .gallery-img ul {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .gallery-img li {
      text-align: center;
      width: 250px;
      margin: 20px;
      color: rgb(30, 170, 213);
  }

  .movie-description {
    background-color: rgb(30, 170, 213);
  }

@media only screen and (max-width: 575px) {
    form button {
        margin-top: 15px;
        width: 50%;
    }
}  


@media only screen and (min-width: 576px) {

    .search {
        width: 60%;
    }
    form input {
        font-size: 1.1em;
    }

    form button {
        position: absolute;
        top: 0;
        right: -1px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        width: 30%;
        margin: 0;
    }
}